body{
    margin:0;
    padding:0;
    background-image: url('bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
nav{
    background-color:bisque;
    font-size:25px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
nav li{
    display:inline-block;
    margin:0 8px;
}
nav a{
    text-decoration: none;
    color:rgb(231, 93, 13);
}
.logo{
    font-size: 35px;
    font-weight: bolder;
}
nav a:hover{
    color:rgb(114, 16, 16)
}
.menuline{
    height:3px;
    width:20px;
    background-color: rgb(94, 25, 25);
    margin-bottom:3px;
}
.menu{
    cursor: pointer;
    display: none;
}
@media all and (max-width:640px){
    nav{
        flex-direction: column;}
        nav li{
            text-align: center;
            display: block;
            padding:4px 0 2px 0;
        }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .logo{
        align-self: flex-start;
        margin:10px 0 0 30px;
    }
    .menu{
        display: block;
        position: absolute;
        right:20px;
        top:25px;
    }
    .show{
        display:block;

    }

}